/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.gallery {
  list-style-type: none;
  padding: 24px 156px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 24px;
}

.gallery-image {
  width: 360px;
  height: 200px;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 15px;
  margin-top: 70px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  width: 200px;
  padding: 8px 16px;
  margin: 0;
}

textarea {
  width: 200px;
  padding: 8px 16px;
  margin: 0;
}

button {
  width: 200px;
  padding: 8px 16px;
  text-align: center;
}